<head>
	<title>LibraryHouse</title>
</head>
<body>
    <header class="home-header">
        <div class="home-container">
            <h1>Welcome to LibraryHouse!</h1>
        </div>
    </header>
    <nav id="navigation-bar">
        <div class="home-container">
            <ul>
                <li><a routerLink="/About">About</a></li>
                <li><a routerLink="/Profile">Profile</a>
                <li><a routerLink="/Books">Books</a></li>
                <li><a routerLink="/Authors">Authors</a></li>
            </ul>
        </div>
    </nav>
</body>
<p>home works!</p>

<a routerLink="/About">About</a><br>
<a routerLink="/Profile">Profile</a><br>
<a routerLink="/Books">Books</a><br>
<a routerLink="/Authors">Authors</a><br>

<br><br>
<a routerLink="/SignIn">SignIn</a><br>
<a routerLink="/SignUp">SignUp</a><br>

<br><br>
<button>SignOut</button>

<br><br>
<a routerLink="/Admin">Admin</a><br>
<router-outlet></router-outlet>